h1, h2, h3, h4, .entry-header, .widgettitle, .widget-title {
	font-family: 'Tungsten A', 'Tungsten B', Open Sans, sans-serif;
}

h1 a, h2 a, h3 a, h4 a {
	font-family: 'Tungsten A', 'Tungsten B', Open Sans, sans-serif;
}

#text-2 h3.widget-title {
	font-size: 30px;
	font-weight: 400;
}

.home-row1 .widget-title, .home-row4 .widget-title, .home-row6 .widget-title {
    text-align: left;
}

@media only screen and (max-width: 900px) {
	.backstretch img {
		top: 122px !important;
		width: 100% !important;
		height: initial !important;
		left: initial !important;
	}
	.header-image .site-header .wrap {
		background-image: url(images/logo-mobile.png);
		background-size: 400px 48px;
	}

	.genesis-nav-menu .current-menu-item > a {
		background-color: #23548d;
	}

}